body {
     background-color: white;

}

#header {
    position: relative;
    width: 98%;
    height: 80px;
    border: 2px solid #000000;
    clear: left;

}
#header div{
    list-style-type: none;
    position: relative;
    display: inline;
}
#logocontainer {
    float: left;
    padding: 1px;
    margin-top: -20;
 }
 #logo {
    height: 70px;
    width: 70px;
 }
 #twitter {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

 }   
 #googleplus {
    float: right;
    margin: 5px;
    
 }
#navbar {
    position: relative;
    width:97%;
    list-style-type: none;
    padding-left: 3%;

}          
#navbar ul{
    list-style-type: none;
    position: relative;
    width: 80%;

}

#navbar li {
    display: inline;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 2gm;
    color: black;
    padding: 5px;
}

div img {
    height: 30px;
    width: 30px;
}
a {
     text-decoration: none;
     color: black;
}




